<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width , initial-scale=1.0"> 
    <title>Sign Up Form</title>
    <link rel="stylesheet"  href="style.css">
</head>
<body>
    <p> Your TO-do list </p>
    <p> Today is {{ day_of_week }}</p>
    <p> The time is {{ current_time }}</p>
    <h2>To Do List</h2><br>
    <div class="centred">
    <form action="/submittodoitem" method="POST" >
        <label><b>Item ID</b></label>
        <input type="text" name="itemID" id="itemID" placeholder="Enter Item ID">
        <br><br>
        <label><b>Item UUID</b></label>
        <input type="text" name="itemUUID" id="itemUUID" placeholder="Enter Item UUID">
        <br><br>
        <label><b>Item Name</b></label>
        <input type="text" name="itemName" id="itemName" placeholder="Enter Item Name">
        <br><br>
        <label><b>Item Description </b>
        <input type="text" name="itemDescription" id="itemDescription" placeholder="Enter Item Description">        
        <br><br>
        </label>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>